*, html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
} 


/* Cabecera */

.header_wrap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff url(./../img/bg_header.png) no-repeat top center;
    background-size: 100%;
    min-height: 40vw;
    overflow: hidden;
}

.navigation {
    width: 100%;
    padding: 0 15%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin: 0 auto;
    position: fixed;
    background: rgba(238, 238, 238, 0.6);
    min-height: 75px;
}

.navigation .items_nav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation .items_nav li {
    list-style-type: none;
    display: inline-block;

}

.navigation .items_nav li a {
    text-decoration: none;
    color: #666;
    font-size: calc(12px + 0.25vw);
}

.header_title {
    width: 100%;
    padding-top: 75px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    height: 40vw;
}

.header_title img {
    width: 32%;
    max-width: 580px;
    margin-left: 10%;
}





.intro, .wrap_benefits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.wrap_benefits h2.title {
    grid-column: 1 / span 3;
    color: #dc0202;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 80%;
    max-width: 200px;
    min-width: 130px;
    display: block;
    margin: 0 auto;
}

h3.subtitle, h2.title  {
    text-align: center;
}

h2.title {
    font-size: calc(26px + 0.35vw);
    letter-spacing: 3px;
}

.intro article p, .wrap_benefits article p {
    text-align: justify;
    padding: 5px 10px;
    margin: 0 0.8em;  
    line-height: 1.5; 
}

.photo {
    text-align: center;
    margin-bottom: 5%;
}

.photo img {
    display: block;
    margin: 0 auto;
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #eee;
    transition: all ease-in .5s;
}

article:hover .photo img {
    border: 10px solid #e4b3b1;
}

@media screen and (max-width: 768px) {
    .navigation {
        min-height: 60px;
        padding: 0 15%; 
    }
}