*, html {
    box-sizing: border-box;
    margin: 0 auto;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
    margin: 1em;
} 


/* Cabecera */

.header_wrap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff url(./../img/bg_header.png) no-repeat top center;
    background-size: 100%;
    min-height: 40vw;
    overflow: hidden;
}

.navigation {
    width: 100%;
    padding: 0 15%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin: 0 auto;
    position: fixed;
    background: rgba(238, 238, 238, 0.6);
    min-height: 75px;
}

.navigation .items_nav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation .items_nav li {
    list-style-type: none;
    display: inline-block;

}

.navigation .items_nav li a {
    text-decoration: none;
    color: #666;
    font-size: calc(12px + 0.25vw);
    padding: 8px 20%;
}

.navigation .items_nav li a:hover {
    border: 1px solid #b10000;
    background: #dc0202;
    border-radius: 10px;
    color: #fff;
}


.header_title {
    width: 100%;
    padding-top: 75px;
    overflow: hidden;
    display: flex;
    align-items: flex-end;
    height: 40vw;
}

.header_title img {
    width: 32%;
    max-width: 580px;
    margin-left: 10%;
}





.intro, .wrap_benefits {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 20px;
    max-width: 1400px;
    margin: 0 auto;
}

.wrap_benefits h2.title {
    grid-column: 1 / span 3;
}

section.wrap_benefits > article:nth-child(2) > h3.subtitle {
    color: #7ac143;
}

section.wrap_benefits > article:nth-child(4) > h3.subtitle {
    color: #2494f4;
}





section.wrap_benefits > article:nth-child(2):hover > div > img {
    border: 10px solid rgba(122, 193, 67, 0.6);
}

section.wrap_benefits > article:nth-child(3) > h3.subtitle {
    color: #f48924;
}

section.wrap_benefits > article:nth-child(3):hover > div > img {
    border: 10px solid rgba(244, 137, 36, 0.6);
}

section.wrap_benefits > article:nth-child(4):hover > div > img {
    border: 10px solid rgba(36, 148, 244, 0.6);
}


.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 80%;
    max-width: 200px;
    min-width: 130px;
    display: block;
    margin: 0 auto;
}

h3.subtitle, h2.title  {
    text-align: center;
}

h2.title {
    font-size: calc(26px + 0.35vw);
    letter-spacing: 3px;
}

.intro article p, .wrap_benefits article p {
    text-align: justify;
    padding: 5px 10px;
    margin: 0 0.8em;  
    line-height: 1.5; 
    font-size: calc(12px + 0.25vw);
}

.photo {
    text-align: center;
    margin-bottom: 5%;
}

article .photo img {
    display: block;
    margin: 0 auto;
    width: 17vw;
    max-width: 240px;
    max-height: 240px;
    height: 30vw;
    width: 30vw;
    object-fit: cover;
    border-radius: 50%;
    border: 10px solid #eee;
    transition: all ease-in .5s;
}



.results {
    background-image: linear-gradient(to left , #0e627b , #1f7088);
    color: #fff;
    font-size: calc(18px + 0.25vw);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    min-height: 130px;
}

.results article {
    display: flex;
    align-items: center;
    justify-content: center;
}

.results article .number {
    font-size: calc(34px + 0.3vw);
    margin: 10px;
}

footer {
    background: #333;
    color: #fff;
    min-height: 250px;

}

@media screen and (max-width: 768px) {
    .navigation {
        min-height: 60px;
        padding: 0 15%; 
    }
}