*, html {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #666;
    margin: 0;
    padding: 0;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Fjalla One', sans-serif;
} 

header {

}

/* Cabecera */

.header_wrap {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    background: #fff url(./../img/bg_header.png) no-repeat top center;
    background-size: 100%;
    min-height: 40vw;
}

.navigation {
    width: 100%;
    padding: 0 15%;
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    margin: 0 auto;
    position: fixed;
    background: rgba(238, 238, 238, 0.6);
    min-height: 75px;
}

.navigation .items_nav {
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navigation .items_nav li {
    list-style-type: none;
    display: inline-block;

}

.navigation .items_nav li a {
    text-decoration: none;
    color: #666;
}



.intro {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    width: 80%;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}